services/whisper/whisper-env
codeclip_20250618_231429.txt
codeclip.py
.github/workflows
.turbo
apps/backend/dist
apps/backend/node_modules
apps/backend/eslint.config.mjs
apps/frontend/node_modules
node_modules
services/whisper/whisper-env
services/whisper/setup.bat
codeclip_20250618_231429.txt
codeclip.py
.clipignore
pnpm-lock.yaml
services/whisper/~
services/whisper/__pycache__
.vscode
