aesara==2.9.4
aiohttp==3.11.10
aiohttp==3.9.5
amdsmi==6.4.0
astunparse==1.6.3
attr==0.3.2
blobfile==3.0.0
Brotli==1.0.9
brotlicffi==1.1.0.0
cffi==1.17.1
checks==0.2
conda==4.3.16
ConfigParser==7.2.0
contextlib2==21.6.0
coremltools==8.3.0
coverage==7.8.2
cryptography==41.0.3
cryptography==42.0.5
ctypes_snappy==1.03
cubinlinker==0.0.1
Cython==3.1.1
deeplearning==0.0.1
dill==0.3.9
dill==0.3.8
dl==0.1.0
docutils==0.21.2
etcd==2.0.8
expecttest==0.3.0
fastparquet==2024.11.0
fbscribelogger==0.1.7
flint==0.0.1
gmpy2==2.2.1
graphviz==0.20.3
h2==4.2.0
HTMLParser==0.0.2
huggingface_hub==0.31.4
hypothesis==6.135.1
importlib_resources==6.4.0
importlib_resources==6.5.2
ini2toml==0.15
ipykernel==6.29.5
ipython==8.15.0
ipython==8.12.3
ipywidgets==8.1.7
isal==1.7.2
jnius==1.1.0
js==1.0
kerchunk==0.2.8
keyring==24.3.1
lxml==5.2.2
lz4==4.4.4
lzmaffi==0.3.0
matchpy==0.5.5
mock==5.2.0
monkeytype==23.3.0
moviepy==2.2.1
mtrand==0.1
multiset==3.2.0
mypy==1.16.0
nbformat==5.10.4
objgraph==3.6.2
onnxscript==0.3.0
optree==0.16.0
pandas==2.3.0
paramiko==3.5.1
path.py==12.5.0
pexpect==4.9.0
pickle5==0.0.12
Pillow==11.2.1
pkg1==0.0.3
protobuf==3.17.2
protobuf==4.25.3
psutil==5.9.0
psutil==7.0.0
pulp==3.2.1
pwlf==2.5.1
py==1.11.0
pyarrow==19.0.0
pycosat==0.6.6
pydot==4.0.0
pydy==0.7.1
pyelftools==0.32
pygit2==1.18.0
pyglet==2.1.6
pygraphviz==1.14
PyInstaller==6.14.0
pyinstrument==5.0.2
pymc==5.23.0
pymc3==3.11.6
pynvml==12.0.0
pyodide==0.0.2
pyOpenSSL==23.2.0
pyOpenSSL==25.1.0
pysat==3.2.2
pytest_subtests==0.14.1
pytorch_lightning==2.5.1.post0
pytz==2024.1
pytz==2025.2
pywin32==308
pywin32==305.1
PyYAML==6.0.2
PyYAML==6.0.2
r2pipe==1.9.4
railroad==0.5.0
redis==5.0.1
requests_kerberos==0.15.0
safetensors==0.5.3
sage==0.0.0
scipy==1.15.3
scipy_doctest==1.8.0
setuptools_scm==8.3.1
simplejson==3.20.1
slack_sdk==3.35.0
smbprotocol==1.15.0
Sphinx==8.2.3
symengine==0.14.1
tabulate==0.9.0
theano==1.0.5
thread==2.0.5
threadpoolctl==3.6.0
tomli_w==1.2.0
torch_xla==2.7.0
torcharrow==0.1.0
torchaudio==2.5.1+cu124
torchaudio==2.5.1
torchrec==1.2.0
torchvision==0.20.1+cu124
torchvision==0.20.1
tornado==6.4.2
tornado==6.5
trove_classifiers==2025.5.9.12
ujson==5.10.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==3.3.2
yarl==1.18.0
yarl==1.9.3
z3==0.2.0
zstandard==0.22.0
